# Package managers
node_modules
yarn.lock
.yarn
.pnp*
pnpm-lock.yaml

# IDEs and editors
.vscode

# .git
.git

# Logs
logs
*.log

# Local files
dist
LICENSE
.eslintignore
.prettierignore

# File endings
*.yaml
